.footerContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    width: 100%;
}
.loginFooterList{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}