.googleIcon{
    height: 2rem;
    width: 2rem;
}
.googleLoginBtn{
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.188rem 0.5rem;
    color: #596777;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    height: 3rem;
    justify-content: center;
    width: 18rem;
}
.googleLoginContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}
.loginCardContainer{
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.188rem 0.5rem;
    color: black;
    padding: 1rem 1rem 2rem 1rem;
    width: 25rem;
}
.loginCardHeader{
    color: #23c861;
}
.msgIcon{
    font-size: 10rem;
}
.preloader{
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 945px) {
    .googleLoginBtn, .loginCardContainer{
        width: 100%;
    }
}