.profileContainer{
    background-color: #d4d9ce;
    padding: 1rem 1rem 1rem 1rem;
    position: fixed;
    top: 0;
    width: inherit;
}
.profileList{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.profileList li:nth-child(2){
    text-align: left;
    width: 60%;
}
.profileList li:nth-child(3){
    color: #23c861;
    font-size: 1.2rem;
    font-weight: bold;
}
.profilePic{
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
}