.chats, .emptyChats{
    height: 100vh;
    overflow-y: auto;
    width: 70%;
}
.messengerContainer{
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.senders{
    height: 100vh;
    overflow-y: auto;
    width: 30%;
}
.senderContainer{
    margin-top: 5rem;
}

@media screen and (max-width: 1000px){
    .senders{
        width: 100%;
    }
    .emptyChats{
        display: none;
    }
    .chats{
        width: 100%;
    }
    .closeSenders{
        display: none;
    }
}