.chats{
    height: 100vh;
    overflow-y: auto;
    width: 70%;
}
.messengerContainer{
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.senders{
    height: 100vh;
    overflow-y: auto;
    width: 30%;
}
.senderContainer{
    margin-top: 5rem;
}