.chatsContainer{
    background-image: url("../../../images/chat_bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    border-left: 0.08rem black groove;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    padding: 5rem 0 5.5rem 0;
    width: 100%;
}